<%= form_with(model: tik_tok, local: true) do |form| %>
  <% if tik_tok.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tik_tok.errors.count, "error") %> prohibited this tik_tok from being saved:</h2>

      <ul>
        <% tik_tok.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <p> Select the category: </p>
    <div>
        <%= form.collection_select :category_id, Category.all.alpha, :id, :name, include_blank: "" %>
    </div>
    <p> If category not listed, click <%= link_to "here", new_category_url %> to add. </p>
    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<br><br><br>

  <div class="field">
    <%= form.label :description, "About" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :link, "Video Link" %>
    <%= form.text_field :link %>
  </div>

 
<br>
  <div class="field">
    <%= form.label :favorite, "Check box to add to your Favorites" %>
    <%= form.check_box :favorite %>
  </div>

  <div class="actions">
    
    <%= form.submit "Add Video!" %>
  </div>
<% end %>
