<%= form_with(model: tik_tok, local: true) do |form| %>
  <% if tik_tok.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tik_tok.errors.count, "error") %> prohibited this tik_tok from being saved:</h2>

      <ul>
        <% tik_tok.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :favorite %>
    <%= form.check_box :favorite %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
