<p id="notice"><%= notice %></p>

<h1>Tik Toks</h1>

<div id="columns">
    <% @tik_toks.each do |tik_tok| %>
  <figure>
   <p><%= tik_tok.link %></p>
       <figcaption> <p><%= tik_tok.description %></p></figcaption>
       </figure>
  
       <!-- <p><%= link_to 'Show', tik_tok %></p>
        <p><%= link_to 'Edit', edit_tik_tok_path(tik_tok) %></p>
        <p><%= link_to 'Destroy', tik_tok, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    -->
    <% end %>
</div>
<br>

<%= link_to 'New Tik Tok', new_tik_tok_path %>
