
<h1>Categories</h1>

<%= link_to 'New Category', new_category_path %>

  <div>
    
      <% @categories.each do |category| %>
        <div class="container">
          <div class="image">
            <%= image_tag category.image_url %>
         
            <div class="middle">
              <div class="text">
                <%= category.name %>
                <%= link_to 'Show', category %>
                <%= link_to 'Edit', edit_category_path(category) %>
                <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    
  </div>


<br>
