<p id="notice"><%= notice %></p>

<h1>
  <%= @category.name %>
</h1>

<%= link_to 'Add New Video', new_tik_tok_url(@category) %> <br><br><br>

<%= link_to 'Edit Category Name', edit_category_path(@category) %> |
<%= link_to 'All Categories', categories_path %> |
<%= link_to 'Delete Category', category_path, method: :delete, data: { confirm: 'Are you sure?' } %>
